<div class="whole-page">
    <div class="container">
        <p>Login Page</p>
        <form method="post" action="">
            <div class="email">
                <input type="email" placeholder="E-Mail" required>
            </div>
            <div class="password">
                <input type="password" placeholder="Password" required>
            </div>
            <div class="submit">
                <input type="submit" value="sign in">
            </div><br>
            <div class="other">
                <label for="forget-password">Don't Remember: <a href="">Forgot Password?</a></label><br><br>
                <label for="register">Don.t have Account: <a href="/forms/reg.html">Register</a></label>

            </div>
        </form>
    </div>


</div>