/* import statements */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
.whole-page{
    height: 98vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container{
    border-radius: 7px;
    background-color: #b7f0c4e3;
    padding: 50px;
    margin: 0;
    height:500px;
    width:500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgb(203, 238, 238);
}
.container:hover .submit input[type="submit"]{
    background-color: rgb(16, 178, 124);
    box-shadow: 0px 0px 28px 13px rgba(0,0,0,0.1);

}
.container p{
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid black;

    /* Add border bottom color
    border-bottom: 1px solid color;*/

}
.container form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .email,form .password{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid black;

    /* Add color:  border-bottom: 1px solid color; */
}
.email input, .password input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}
.email input::placeholder, .password input::placeholder{
    font-family: Baskervville;
    font-size: 20px;
    padding: 5px;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    background-color: rgb(55, 169, 207);
    color: white;
    /* Add color and background color */
}

.submit input[type="submit"]:hover{
    background-color: rgb(131, 230, 148);
}

.other{
    font-family: helvetica;
    align-items: center;
}
.other a{
    font-family: helvetica;
    text-decoration: none    
}








/* RESPONSIVE DESIGNING */


@media screen and (max-width: 900px){
    .container{
        top: 20%;
        left: 35%;
    }
    .img img {
        opacity: 0.3;
        top: 30%;
        left: 30%;
    }
}
@media screen and (max-width: 800px){
    .container{
        top: 15%;
        left: 25%;
    }
    .img img {
        opacity: 0.3;
        top: 30%;
        left: 30%;
    }
}
@media screen and (max-width: 600px){
    body{
        margin: 10px;
        padding: 10px;
    }
    .container{
        top: 15%;
        left: 25%;
    }
    .img img {
        opacity: 0.3;
        top: 30%;
        left: 35%;
    }
    .container form input{
        line-height: 30px;
    }
}
@media screen and (max-width: 500px){
    body{
        margin: 10px;
        padding: 10px;
    }
    .container{
        top: 15%;
        left: 20%;
        background-color: rgba(255, 255, 255, 0.754);
    }
    .img img{
        display: none;
    }
    .container form input{
        line-height: 30px;
    }
}
@media screen and (max-width: 400px){
    body{
        margin: 10px;
        padding: 10px;
    }
    .container{
        top: 10%;
        left: 1%;
        background-color: rgba(255, 255, 255, 0.754);
    }
    .img img{
        display: none;
    }
    .container form input{
        line-height: 30px;
    }
    input[type="submit"]{
        background-color: rgb(100, 181, 100);
    }
    input[type="submit"]:hover{
        background-color: rgb(100, 181, 100);
    }
    .container:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: rgb(131, 230, 148);
        background-color: rgba(255, 255, 255, 0.754);

    }
}