
<div class="form">
        <table cellspacing="3">
            <tr>
                <th colspan="3">Inspection report Of wholesale/retail FoodGrain license dealers</th>
            </tr>
            <!-- 1 -->
            <tr>
                <td>Name of the dealer & <br>Address of the business premises:</td>
                <td><input type="text"></td>
                <td><textarea name="address" id="address-bp" ></textarea></td>
            </tr>


            <!-- 2 -->
            <tr>
                <td>Name and address of the <br>person present at the time of inspection</td>
                <td><input type="text"></td>
                <td><textarea name="address" id="address-pp" ></textarea></td>
            </tr>


            <!-- 3 -->
            <tr><td>License Particulars</td></tr>

            <!-- 3a -->
            <tr>
                <td>DSO License No. & its validity</td>
                <td colspan="2"><input type="text"></td>
            </tr>

            <!-- 3b -->
            <tr>
                <td>V.A.T.TIN No.</td>
                <td colspan="2"><input type="text"></td>
            </tr>


            <!-- 4 -->
            <tr>
                <td>Whether Price list cum Stock board exhibited or not</td>
                <td colspan="2">
                    <input type="radio" name="price-list" value="yes">Yes
                    <input type="radio" name="price-list" value="No">No
                </td>
            </tr>


            <!-- 5 -->
            <tr>
                <td>Whether business premises / godown are located in the notified place or not</td>
                <td colspan="2">
                    <input type="radio" name="price-list" value="yes">Yes
                    <input type="radio" name="price-list" value="No">No
                </td>
            </tr>


            <!-- 6 -->
            <tr><td>Maintenance of Registers/Records</td></tr>
            <!-- 6a -->
            <tr><td> Stock Register</td><td colspan="2"><textarea></textarea></td></tr>
            <!-- 6b -->
            <tr><td>Sales Register</td><td colspan="2"><textarea></textarea></td></tr>
            <!-- 6c -->
            <tr><td>Bill Books</td><td colspan="2"><textarea></textarea></td></tr>
            <!-- 6d -->
            <tr><td>Way Bills</td><td colspan="2"><textarea></textarea></td></tr>


            <!-- 7 -->
            <tr>
                <td>Whether the dealer is issuing bills to the Consumers</td>
                <td colspan="2"> 
                    <input type="radio" name="price-list" value="yes">Yes
                    <input type="radio" name="price-list" value="No">No
                </td>
            </tr>


            <!-- 8 -->
            <tr>
                <td>Whether 'C' Form returns are being submitted to the Licensing Authority</td>
                <td colspan="2">
                    <input type="radio" name="price-list" value="yes">Yes
                    <input type="radio" name="price-list" value="No">No
                </td>
            </tr>


            <!-- 9 -->
            <tr><td colspan="4">Commodities & Quantities available at the time of inspection</td></tr>

        </table>

        <!-- another table -->
        <table class="another-table" style="width: 73%" >
            <tr>
                <th>Commodity</th>
                <th>As per Stock Register</th>
                <th>Stock on Physical verification</th>
                <th>Variation</th>
            </tr>

            <tr>
                <th>Rice</th>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <th>Pulses</th>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <th>Edible Oils</th>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <th>Edible Oil Seeds</th>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
            </tr>
            <tr>
                <th>Other Items</th>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
            </tr>
        </table>
    </div>
