<div class="main-container">

    <div class="navbar-1">
        <div>
            <a href="">ఆంధ్రప్రదేశ్ ప్రభుత్వము</a><br>
            <a href="">Government of Andhra Pradesh</a>
        </div>
        <div>
            <nav>
                <ul class="nav-icons">
                    <li>skip to main content</li>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-person-circle-plus"></i></li>
                    <li><i class="fa-solid fa-sitemap"></i></li>
                    <li><i class="fa-brands fa-accessible-icon"></i></li>
                    <li>English</li>
                    <li><a [routerLink]='["/login"]'><i class="fa-solid fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="navbar-2">
        <div class="left-side">
            <div>
                <img src="../../assets//images/logo.jpeg" alt="logo">
            </div>
            <div>
                <p>పల్నాడు జిల్లా <br> palnadu District</p>
            </div>
        </div>
        <div class="right-side">
            <img src="../../assets/images/digital-india.png" alt="digital-india">
        </div>
    </div>
    <div class="navbar-3">
        <ul>
            <!-- tab 1 -->
            <li>
                <a>Home</a>
                <ul class="opener">
                    <li>Inner Home 1</li>
                    <li>Inner Home 2</li>
                    <li>Inner Home 3</li>
                </ul>
            </li>
            <li>
                <a>Forms</a>
                <ul class="opener">
                    <li>Inner Home 1</li>
                    <li><a [routerLink]="['/fglform']">FGL Form</a></li>
                    <li>Inner Home 3</li>
                </ul>
            </li>
            <li>
                <a>Reports</a>
                <ul class="opener">
                    <li>Inner Home 1</li>
                    <li>Inner Home 2</li>
                    <li>Inner Home 3</li>
                </ul>
            </li>
        </ul>

    </div>